@import 'assets';

.about-section {
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px auto 0 auto;
}

.about-header {
    font-family: $serif3;
    font-size: 30px;
    color: $black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.about-par {
    font-family: $sans;
    font-size: 20px;
    color: $dark;
}

@media only screen and (max-width: 550px) {
    .about-header {
        font-size: 25px;
    }
}

@media only screen and (max-width: 350px) {
    .about-par {
        font-size: 18px;
    }
}

@media only screen and (max-width: 315px) {
    .about-section {
        min-width: 280px;
    }
}