@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500,700|Exo+2:400,500,600|Frank+Ruhl+Libre:400,500,700|Nunito:400,600,700|Poppins:300,400,500,600,700|Spectral:400,500,600&display=swap');

$serif: 'Alegreya', serif;
$serif2: 'Frank Ruhl Libre', serif;
$serif3: 'Spectral', serif;
$sans: 'Poppins', sans-serif;
$sans2: 'Nunito', sans-serif;
$sans3: 'Exo 2', sans-serif;

$gray: #D7D0c8;
$green: #667339;
$lGreen: #0a9600;
$brown: #A66038;
$dark: #454839;
$black: #3a3a3a;
$black2: #282828;
$b: #212121;
$blue: #00A4E3;
$white: #f7f7f7;
$grey: #e8e8e8;
$grey2: #D8D8D8;
$green4: #207561;
$green3: #589167;
$green2: #0B7703;


// #react-grid-gallery {
//     width: 400px;
//     margin: auto;
//     display: flex;
//     flex-flow: row wrap;
// }