@import 'assets';

.contact-section {
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px auto 0 auto;
}


.contact-header {
    font-family: $serif3;
    font-size: 30px;
    color: $black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-par {
    font-family: $sans;
    font-size: 20px;
    color: $dark;
}

.contact-phone {
    font-family: $sans;
    font-size: 20px;
    color: $dark;
    margin: 0;
    padding: 0;
}

.contact-address-header {
    font-family: $serif3;
    font-size: 25px;
    color: $black;
    margin: 0;
    padding: 0;
}
.contact-address {
    font-family: $sans;
    font-size: 20px;
    color: $dark;
    margin: 0;
    padding: 0;
}
.contact-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.contact-column {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media only screen and (max-width: 550px) {
    .contact-header {
        font-size: 25px;
    }
}

@media only screen and (max-width: 350px) {
    .contact-phone {
        font-size: 18px;
    }
    .contact-par {
        font-size: 18px;
    }
}

@media only screen and (max-width: 315px) {
    .contact-section {
        min-width: 280px;
    }
}