@import 'assets';

.inventory-images {
    display: inline-block;
}
.inventory-page {
    padding: 0;
    margin: 0;
}
.category-page {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin: 80px auto 0px auto;
    width: 100vw;
    overflow-x: hidden;
    height: auto;
    padding: 10px 10px 0px 10px;
    min-height: 40vh;
}

.category-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.category-header {
    font-family: $serif3;
    font-size: 35px;
    color: $black;
    text-align: center;
    border-bottom: 2px solid $gray;
    width: 100%;
    text-transform: capitalize;
}
.inventory-cta {
    width: 170px;
    height: 35px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    font-family: $sans;
    font-size: 18px;
    font-weight: 600;
    color: $white;
    margin: 10px 0 0 0;
    padding: 0;
    background: linear-gradient($lGreen, $green2);
    i {
        color: $white;
        margin: 0 0 0 5px;
        padding: 0;
    }
}
.inventory-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    justify-items: space-evenly;
    align-items: flex-start;
    width: 100%;
}
.small-inventory-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px auto 10px 10px;
    width: 95%;
    padding: 0 0 10px 0;
    overflow: hidden;
    height: auto;
    border-bottom: 1px solid $gray;
    cursor: pointer;
}
.small-inventory-column {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
.inventory-column2 {
    margin: 5px 5px 5px 20px;
    padding: 0;
}

.small-inventory-wrapper:hover {
    .inventory-small-name {
        color: $green2;
        text-decoration: underline;
    }
}

.inventory-small-name {
    font-family: $serif3;
    font-size: 30px;
    color: $black;
    margin: 0;
    padding: 5px 0 8px 0;
    text-align: center;
    line-height: 25px;
}
.inventory-small-text {
    font-family: $serif3;
    font-size: 18px;
    color: $dark;
    margin: 0;
    padding: 0;
    text-align: left;
}
.inventory-image-small {
    width: 200px;
    height: 250px;
    display: block;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.inventory-image-small-container {
    width: 200px;
    height: auto;
    position: relative;
    margin: 0 20px 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 7px 0;
}

.inventory-small-price {
    font-family: $sans3;
    font-size: 25px;
    color: $lGreen;
    font-weight: 600;
    margin: 0;
    padding: 8px 0;
}
.inventory-small-par {
    font-family: $sans3;
    font-size: 25px;
    color: $b;
    font-weight: 500;
    margin: 0;
    padding: 8px 0;
}

.inventory-wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 40px auto 50px auto;
    justify-content: center;
    align-items: flex-start;
}

.inventory-details-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    margin: 10px auto;
}
.details-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    margin: 10px auto;
}

.inventory-column {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.inventory-name {
    font-family: $sans3;
    font-size: 35px;
    color: $black;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.inventory-par {
    font-family: $sans;
    font-size: 22px;
    color: $dark;
    margin: 0;
    padding: 10px 0;
    text-align: left;
    width: auto;
    max-width: 800px;
}
.inventory-description {
    font-family: $sans;
    font-size: 20px;
    color: $dark;
    margin: 0;
    padding: 10px 0;
}

.inventory-price {
    font-family: $sans;
    font-size: 25px;
    color: $lGreen;
    margin: 0;
    padding: 10px 0;
    font-weight: 500;
    text-align: center;
}

.inventory-hours {
    font-family: $sans;
    font-size: 25px;
    color: $dark;
    margin: 0;
    padding: 10px 0;
    font-weight: 500;
    text-align: center;
}

.small-inventory-row {
    display: flex;
    flex-flow: row;
}

.text-column {
    display: flex;
    flex-flow: column;
}
.recommended-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    height: auto;
    left: 0;
    margin: 0 25px 50px 25px;
}

.recommended-wrapper {
    display: block;
    width: auto;
    padding: 5px 20px 5px 5px;
    margin: 0px 20px;
}

.recommended-header {
    font-family: $serif3;
    font-size: 40px;
    color: $black;
    text-align: center;
    width: 100%;
}
.recommended-column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.inventory-slider-container {
    height: auto;
    max-width: 600px;
    margin: auto 50px 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel {
    max-width: 500px;
    object-fit: contain;
}

.item-page {
    padding-top: 90px;
    margin: 12px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.go-back {
    position: relative;
    left: 0;
    width: 100%;
    background: $green;
    z-index: 10;
    height: auto;
    padding: 5px 0;
}
.back-link {
    color: $white;
    font-family: $sans3;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    i {
        padding-right: 10px;
    }
}

.inventory-contact-container {
    margin: 25px 0 0 0;
    padding: 0;
}
.inventory-contact-header {
    font-family: $serif3;
    font-size: 30px;
    color: $black;
    margin: 0;
    padding: 0;
}
.inventory-contact-name {
    font-family: $sans;
    font-size: 24px;
    color: $black;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.inventory-contact-email {
    font-family: $sans;
    font-size: 20px;
    color: $dark;
    margin: 0;
    padding: 0;
}
.inventory-contact-phone {
    font-family: $sans;
    font-size: 20px;
    color: $dark;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.inventory-contact-phone:hover {
    color: $blue;
}

.inventory-location {
    font-family: $sans;
    font-size: 20px;
    color: $dark;
    margin: 0;
    padding: 0;
}
.separator {
    width: 90%;
    margin: 20px auto 30px auto;
    height: 2px;
    background: $green;
}

.category-sort-wrapper {
    width: 250px;
    margin-right: 20px;
    height: auto;
    border-right: 2px solid $gray;
}

.image-gallery-slide {
    img {
        width: auto;
        height: auto;
        max-width: 100vw;
        max-height: 100vh
    }
}
.image-gallery-image {
    img {
        max-height: 100vh;
        height: auto;
        max-width: 100vw;
        display: block;
    }
}
.back-button {
    color: $black;
    font-family: $sans;
    font-size: 20px;
    position: absolute;
    bottom: 45%;
    left: 0;
    background: $white;
    border-radius: 50%;
}
.next-button {
    color: $black;
    font-family: $sans;
    font-size: 20px;
    position: absolute;
    bottom: 45%;
    right: 0;
    background: $white;
    border-radius: 50%;
}
.inventory-link-container {
    width: 100%;
}
.inventory-link {
    text-decoration: none;
    width: 100%;
}

@media only screen and (max-width: 1475px) {
    .inventory-details-container {
        max-width: 600px;
    }
}

@media only screen and (max-width: 1260px) {
    .inventory-details-container {
        max-width: 450px;
    }
}
@media only screen and (max-width: 999px) {
    .inventory-slider-container {
        width: 100%;
    }
    .inventory-slider-container {
        margin: auto auto 75px auto;
    }
}
@media only screen and (max-width: 900px) {
    .inventory-wrapper {
        flex-flow: column;
    }
    .inventory-details-container {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 850px) {
    .category-page {
        width: 100vw;
        margin: 100px 0;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .category-header {
        max-width: 95vw;
        margin: 0 auto;
        font-size: 30px;
    }
    .category-wrapper {
        width: 100vw;
        margin: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .category-sort-wrapper {
        width: 0;
        margin: 0;
        padding: 0;
    }
    .inventory-page {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .small-inventory-wrapper {
        width: 90%;
        min-width: 300px;
        height: auto;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }
    .inventory-image-small-container {
        width: 250px;
        height: 300px;
        margin: auto;
    }
    .inventory-image-small {
        width: 250px;
        height: 300px;
        margin: auto 0;
        display: block;
    }
    .inventory-image-small-portrait {
        width: 250px;
        height: 300px;
        margin: auto 0;
        background-size: cover;
    }
    .small-inventory-column {
        margin: 0 auto;
    }
    .inventory-column2 {
        margin: 5px auto;
    }
    .recommended-holder {
        flex-flow: column;
    }
    .small-inventory-wrapper {
        flex-flow: column;
    }
}

@media only screen and (max-width: 650px) {
    .inventory-details-container {
        max-width: 90vw;
    }
    .small-inventory-column {
        width: 90vw;
        position: relative;
        margin: 10px auto;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .small-inventory-column2 {
        width: 90vw;
        position: relative;
        margin: 10px auto;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .recommended-holder {
        flex-flow: column;
        margin: 0 auto 50px auto;
    }
    .inventory-slider-container {
        width: 100vw;
        height: auto;
    }
}

@media only screen and (max-width: 450px) {
    .carousel {
        width: 100vw;
        height: auto;
    }
    .inventory-details-container {
        padding-top: 0px;
    }
}