@import 'assets';

.navbar-container {
    width: 100vw;
    height: auto;
    margin: 0;
    background: $white;
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 2px solid $gray;
    overflow-x: hidden;
}
.nav-header-link {
    text-decoration: none;
}

.nav-header-logo {
    margin: 0 0 0 25px;
    height: 80px;
    padding-top: 5px;
}

.navbar {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row;
    margin: 0 25px 0 auto;
}
.nav-link-holder {
    width: 100%;
    height: 100%;
    margin: 0 15px;
    list-style-type: none;

}
.nav-link {
    font-family: $sans;
    font-size: 20px;
    color: $dark;
    text-decoration: none;
}

@media only screen and (max-width: 455px) {
    .navbar {
        flex-flow: column;
        position: relative;
        z-index: 15;
        margin: 0 10px 0 0;
    }
    .navbar-closed {
        display: none;
    }
    .nav-bar-container {
        justify-content: space-between;
        align-items: space-evenly;
        overflow-y: hidden;
    }
    .nav-header-logo {
        margin: 0 0 0 20px;
    }
    .nav-link {
        text-align: center;
    }
    .nav-link-holder {
        margin: 0 8px;
    }
}

@media only screen and (max-width: 330px) {
    .nav-link-holder {
        margin: 0;
    }
}