@import url("https://fonts.googleapis.com/css?family=Alegreya:400,500,700|Exo+2:400,500,600|Frank+Ruhl+Libre:400,500,700|Nunito:400,600,700|Poppins:300,400,500,600,700|Spectral:400,500,600&display=swap");
.inventory-images {
  display: inline-block;
}

.inventory-page {
  padding: 0;
  margin: 0;
}

.category-page {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 80px auto 0px auto;
  width: 100vw;
  overflow-x: hidden;
  height: auto;
  padding: 10px 10px 0px 10px;
  min-height: 40vh;
}

.category-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.category-header {
  font-family: "Spectral", serif;
  font-size: 35px;
  color: #3a3a3a;
  text-align: center;
  border-bottom: 2px solid #D7D0c8;
  width: 100%;
  text-transform: capitalize;
}

.inventory-cta {
  width: 170px;
  height: 35px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #f7f7f7;
  margin: 10px 0 0 0;
  padding: 0;
  background: linear-gradient(#0a9600, #0B7703);
}
.inventory-cta i {
  color: #f7f7f7;
  margin: 0 0 0 5px;
  padding: 0;
}

.inventory-page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  justify-items: space-evenly;
  align-items: flex-start;
  width: 100%;
}

.small-inventory-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px auto 10px 10px;
  width: 95%;
  padding: 0 0 10px 0;
  overflow: hidden;
  height: auto;
  border-bottom: 1px solid #D7D0c8;
  cursor: pointer;
}

.small-inventory-column {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.inventory-column2 {
  margin: 5px 5px 5px 20px;
  padding: 0;
}

.small-inventory-wrapper:hover .inventory-small-name {
  color: #0B7703;
  text-decoration: underline;
}

.inventory-small-name {
  font-family: "Spectral", serif;
  font-size: 30px;
  color: #3a3a3a;
  margin: 0;
  padding: 5px 0 8px 0;
  text-align: center;
  line-height: 25px;
}

.inventory-small-text {
  font-family: "Spectral", serif;
  font-size: 18px;
  color: #454839;
  margin: 0;
  padding: 0;
  text-align: left;
}

.inventory-image-small {
  width: 200px;
  height: 250px;
  display: block;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.inventory-image-small-container {
  width: 200px;
  height: auto;
  position: relative;
  margin: 0 20px 0px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 7px 0;
}

.inventory-small-price {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  color: #0a9600;
  font-weight: 600;
  margin: 0;
  padding: 8px 0;
}

.inventory-small-par {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  color: #212121;
  font-weight: 500;
  margin: 0;
  padding: 8px 0;
}

.inventory-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  margin: 40px auto 50px auto;
  justify-content: center;
  align-items: flex-start;
}

.inventory-details-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  margin: 10px auto;
}

.details-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  margin: 10px auto;
}

.inventory-column {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.inventory-name {
  font-family: "Exo 2", sans-serif;
  font-size: 35px;
  color: #3a3a3a;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.inventory-par {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #454839;
  margin: 0;
  padding: 10px 0;
  text-align: left;
  width: auto;
  max-width: 800px;
}

.inventory-description {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #454839;
  margin: 0;
  padding: 10px 0;
}

.inventory-price {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #0a9600;
  margin: 0;
  padding: 10px 0;
  font-weight: 500;
  text-align: center;
}

.inventory-hours {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #454839;
  margin: 0;
  padding: 10px 0;
  font-weight: 500;
  text-align: center;
}

.small-inventory-row {
  display: flex;
  flex-flow: row;
}

.text-column {
  display: flex;
  flex-flow: column;
}

.recommended-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
  height: auto;
  left: 0;
  margin: 0 25px 50px 25px;
}

.recommended-wrapper {
  display: block;
  width: auto;
  padding: 5px 20px 5px 5px;
  margin: 0px 20px;
}

.recommended-header {
  font-family: "Spectral", serif;
  font-size: 40px;
  color: #3a3a3a;
  text-align: center;
  width: 100%;
}

.recommended-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.inventory-slider-container {
  height: auto;
  max-width: 550px;
  margin: auto auto 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-page {
  padding-top: 90px;
  margin: 12px auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.go-back {
  position: relative;
  left: 0;
  width: 100%;
  background: #667339;
  z-index: 10;
  height: auto;
  padding: 5px 0;
}

.back-link {
  color: #f7f7f7;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
}
.back-link i {
  padding-right: 10px;
}

.inventory-contact-container {
  margin: 25px 0 0 0;
  padding: 0;
}

.inventory-contact-header {
  font-family: "Spectral", serif;
  font-size: 30px;
  color: #3a3a3a;
  margin: 0;
  padding: 0;
}

.inventory-contact-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #3a3a3a;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.inventory-contact-email {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #454839;
  margin: 0;
  padding: 0;
}

.inventory-contact-phone {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #454839;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.inventory-contact-phone:hover {
  color: #00A4E3;
}

.inventory-location {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #454839;
  margin: 0;
  padding: 0;
}

.separator {
  width: 90%;
  margin: 20px auto 30px auto;
  height: 2px;
  background: #667339;
}

.category-sort-wrapper {
  width: 250px;
  margin-right: 20px;
  height: auto;
  border-right: 2px solid #D7D0c8;
}

.carousel {
  max-width: 500px;
  max-height: 600px;
  height: 600px;
  width: 400px;
}

.image-gallery-slide img {
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
}

.image-gallery-image img {
  max-height: 100vh;
  height: auto;
  max-width: 100vw;
  display: block;
}

.back-button {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  position: absolute;
  bottom: 45%;
  left: 0;
  background: #f7f7f7;
  border-radius: 50%;
}

.next-button {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  position: absolute;
  bottom: 45%;
  right: 0;
  background: #f7f7f7;
  border-radius: 50%;
}

.inventory-link-container {
  width: 100%;
}

.inventory-link {
  text-decoration: none;
  width: 100%;
}

@media only screen and (max-width: 1475px) {
  .inventory-details-container {
    max-width: 600px;
  }
}
@media only screen and (max-width: 1260px) {
  .inventory-details-container {
    max-width: 450px;
  }
}
@media only screen and (max-width: 900px) {
  .inventory-wrapper {
    flex-flow: column;
  }

  .inventory-details-container {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 850px) {
  .category-page {
    width: 100vw;
    margin: 100px 0;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .category-header {
    max-width: 95vw;
    margin: 0 auto;
    font-size: 30px;
  }

  .category-wrapper {
    width: 100vw;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .category-sort-wrapper {
    width: 0;
    margin: 0;
    padding: 0;
  }

  .inventory-page {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .small-inventory-wrapper {
    width: 90%;
    min-width: 300px;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .inventory-image-small-container {
    width: 250px;
    height: 300px;
    margin: auto;
  }

  .inventory-image-small {
    width: 250px;
    height: 300px;
    margin: auto 0;
    display: block;
  }

  .inventory-image-small-portrait {
    width: 250px;
    height: 300px;
    margin: auto 0;
    background-size: cover;
  }

  .small-inventory-column {
    margin: 0 auto;
  }

  .inventory-column2 {
    margin: 5px auto;
  }

  .recommended-holder {
    flex-flow: column;
  }

  .small-inventory-wrapper {
    flex-flow: column;
  }
}
@media only screen and (max-width: 650px) {
  .inventory-details-container {
    max-width: 90vw;
  }

  .small-inventory-column {
    width: 90vw;
    position: relative;
    margin: 10px auto;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .small-inventory-column2 {
    width: 90vw;
    position: relative;
    margin: 10px auto;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .recommended-holder {
    flex-flow: column;
    margin: 0 auto 50px auto;
  }

  .inventory-slider-container {
    width: 100vw;
    height: auto;
  }
}
@media only screen and (max-width: 450px) {
  .carousel {
    width: 100vw;
    height: auto;
  }

  .inventory-details-container {
    padding-top: 0px;
  }
}

/*# sourceMappingURL=inventory.css.map */
